---
import "@/styles/starwind.css";

import StackedLayout from "./StackedLayout.astro";

interface Props {
	seo: any;
}

const { seo } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<!-- SEO básico -->
		<title>Astro I18N</title>
		<meta name="description" content={seo?.metaDescription} />

		<!-- Open Graph -->
		<!-- {seo.ogTitle && <meta property="og:title" content={seo.ogTitle} />}
    {seo.ogDescription && <meta property="og:description" content={seo.ogDescription} />}
    {seo.ogUrl && <meta property="og:url" content={seo.ogUrl} />}
    {seo.ogImage && <meta property="og:image" content={seo.ogImage} />}
    <meta property="og:type" content="website" /> -->

		<!-- Twitter tags -->
		<!-- <meta name="twitter:card" content="summary_large_image" /> -->

	</head>
	<body>
		<StackedLayout>
			<slot />
		</StackedLayout>
	</body>
</html>
